<!DOCTYPE html>
<html>
<head>

    <title>Psonio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/psonio.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>
    <div class="container main-container">
        <div class="row-fluid">
            <div class="span12 text-align-center">
                <h1 class="logo"><a href="{{path('home')}}"><img src="{{asset('images/psonio.png')}}" /></a></h1>
                {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/bootstrap3-typeahead.js') }}"></script>
    <script src="{{ asset('js/frontpage.js') }}"></script>
</body>
</html>